body {
        font-family: Arial, sans-serif;
        line-height: 1.6;
        margin: 20px;
        background-color: aquamarine;
      }
      h1 {
        color: #333;
        background-color: #934444;
      }
      p {
        background-color: cadetblue;}
      a {
        text-decoration: none;
        color: #1120bd;
        margin-right: 15px;
      }
      img {
        max-width: 50%;
        height: auto;
      }
      span {
        font-weight: bold;
        margin-right: 5px;
        border: 5px solid #994646;
      }
      div {background-color: rgb(220, 154, 68);}
      #header {
        text-align: center;
        padding: 10px;
        background-color: #d34646;
      }
      #menu {
        margin: 20px 0;
        padding: 10px;
        background-color: #4188c6;
      }